:root {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px; /* Header alignment */
}

body {
  background-color: white;
}

/* Table basic style */
.item-table {
  border-collapse: collapse;
  text-align: left;
  background-color: white;
  width: 100px;
  margin-top: 20px;
}

.item-table th,
.item-table td {
  border-bottom: 1px solid black;
}

/* Header */
#h1 {
  font-size: 1.25rem;
  font-weight: 600;
}

tr {
  background-color: white;
}
